<?xml version="1.0"?>

<launch>
	
	<include file="$(find clab_base_oriented_urdf)/launch/description.launch"/>
    <node pkg="clab_navigation" type="odometry.py" name="odom">
    </node>
    <include file="$(find dynamixel_workbench_controllers)/launch/eva_arm_controller_noetic.launch" />
	<include file="$(find rplidar_ros)/launch/view_rplidar.launch"/>
<include file="$(find laser_filters)/examples/sector_filter_example.launch" />

   <include file="$(find learning_joy)/launch/turtle_joy.launch" />
   <include file="$(find clab_navigation)/launch/gmapping.launch" />

	 
	
    
</launch>